@charset "utf-8";
/* CSS Document */

.body {
	background: #090906;
}

.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	font-family: Roboto, Tahoma;
	border-radius: 10px;
}

.navbar li a{
	font-size: 20px;
	display: block;
	color: #F3F3F3;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	float:left;
}

.navbar li a:hover {
    background-color: #111;
}

.champBox {
	margin: 0 5px 0 5px;
	display: inline-block;
	border-radius: 20px;
	background: rgba(88,88,88,1.00);
	width: calc(13% + 20px);
	max-width: 160px;
	border-color: #2EB7D6;
	border-style: solid;
	border-width: thick;
}

.champIcon {
	padding: 20px;
	width: 60%;
	max-width: 100px;
	border-radius: 50%;
	display: block;
	margin: auto;
}

.stats {
	font-size: calc(8px + 0.5vw);
	margin: auto;
	width: 80%;
	font-family: Roboto, Tahoma;
	color: rgba(9,9,9,1.00);
	text-align: center;
	line-height: 140%;
}

.campScore {
	font-size: calc(30px + 0.5vw);
	font-family: Roboto, Tahoma;
}

.statsDivider {
	 height:5px;
}

.playerName {
	height: 2vw;
	line-height: 1.5vw;
	font-size: 1.8vw;
	text-align: center;
	font-weight: bold;
	font-family: Roboto, Tahoma;
}

@media screen and (min-width: 1300px) {
  div.playerName {
    font-size: 15px;
  }
}


.preloader-1 {
  margin: 100px auto 0;
  width: 285px;
  height: 12px;
}

.loading {
  color: #D7D7D7;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.preloader-1 .line {
  width: 1px;
  height: 50px;
  background: #fff;
  margin: 0 6px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 700ms; }
.preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 600ms; }
.preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 500ms; }
.preloader-1 .line-5, .preloader-2 .line-6 { animation-delay: 400ms; }
.preloader-1 .line-6, .preloader-2 .line-7 { animation-delay: 300ms; }
.preloader-1 .line-7, .preloader-2 .line-8 { animation-delay: 200ms; }
.preloader-1 .line-8, .preloader-2 .line-9 { animation-delay: 100ms; }

.preloader-1 .line-10, .preloader-2 .line-9 { animation-delay: 100ms; }
.preloader-1 .line-11, .preloader-2 .line-9 { animation-delay: 200ms; }
.preloader-1 .line-12, .preloader-2 .line-9 { animation-delay: 300ms; }
.preloader-1 .line-13, .preloader-2 .line-9 { animation-delay: 400ms; }
.preloader-1 .line-14, .preloader-2 .line-9 { animation-delay: 500ms; }
.preloader-1 .line-15, .preloader-2 .line-9 { animation-delay: 600ms; }
.preloader-1 .line-16, .preloader-2 .line-9 { animation-delay: 700ms; }
.preloader-1 .line-17, .preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}