@charset "utf-8";
/* CSS Document */
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900|Nunito|Montserrat');

.body {
	background: #303030;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/carbon_fibre.png");
    background-blend-mode: overlay;
	height: 100%;
}


.navbar {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	font-family: Roboto, Tahoma;
	border-radius: 10px;
}

.navbar li a{
	font-size: 20px;
	display: block;
	color: #F3F3F3;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	float:left;
}

.navbar li a:hover {
    background-color: #111;
}

.wrapper {
	min-height: calc(100vh - 116.1px);
	display: inline-block;
    width: 100%;
    margin-bottom: -56px;
}

.my-footer {
	margin-top: 50px;
	height: 56px;
	bottom: 10px;
	text-align: center;
	width: 100%;
}

.disclaimer {
	color: #828282;
	margin: auto;
	width: 70%;
}

.logo {
	text-align: center;
	margin-top: 120px;
	display: none;
}

.errorMsg {
	margin: auto;
	margin-top: 10px;
	padding: 10px 0;
	width: 50vw;
	color: white;
	text-align: center;
	border: thick;
	border-color: rgba(147,144,116,1.00);
	border-style: solid;
	display: none;
	font-family: "Roboto";
	font-weight: 300;
	font-size: 22px;
	border-radius: 10px;
	background-color: #323232;
	max-width: 500px;
}

.lookup {
	display: none;
	text-align: center;
	width: 713.55px;
	margin:auto;
	margin-top: 30px;
}

.damageBar {
	background-color: #00ffff00;
	width: 40vw;
	height: 25px;
	margin: 10px auto;
	font-family: Nunito, Roboto, Tahoma;
    text-align: center;
}

.magic {
	width: calc(20%-5px);
	background-color: #38d24d;
	display: inline-block;
	border-width: 2px 0 2px 2px;
    border-color: #F3F3F3;
    border-style: solid;
    border-radius: 10px 0 0 10px;
	margin-left: -5px;
}

.physical {
	width: 50%;
	background-color: #db8e2b;
	display: inline-block;
	border-width: 2px 0 2px 0px;
    border-color: #F3F3F3;
    border-style: solid;
}

.true {
	width: calc(30%-5px);
	background-color: #7e7e7e;
	display: inline-block;
	border-width: 2px 2px 2px 0;
    border-color: #F3F3F3;
    border-style: solid;
    border-radius: 0 10px 10px 0;
/*	margin has to be -1. I don't know why and it's stupid af, but it works.*/
	margin-right: -5px;
}

.teamName {
	font-size: 3.5vw;
	margin: auto;
	text-align: center;
	margin-top: 30px;
	color: #F3F3F3;
	font-family: 'Alegreya Sans SC', Roboto, Tahoma;
	display: none;
	font-weight: 400;
}

.champBox {
	margin: 0 10px 0 10px;
	display: inline-block;
	border-radius: 20px;
	background: rgba(38,38,38,1.00);
	width: calc(13% + 20px);
	max-width: 160px;
	border-color: #2EB7D6;
	border-style: solid;
	border-width: 0px;
	background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/paper_1.png");
    background-blend-mode: overlay;
	box-shadow: 2px 2px 2px 3px black;
}

iconcontainer {
	width: 60%;
	max-width: 100px;
	display: block;
	margin: auto;
	margin-top: 20px;
}

.champIcon {
	border-radius: 10%;
	width: 100%;
	box-shadow: 0 0 10pt 1pt black;
}

.stats {
	font-size: calc(8px + 0.5vw);
	margin: auto;
	width: 80%;
	font-family: Roboto, Tahoma;
	color: rgba(9,9,9,1.00);
	text-align: center;
	line-height: 140%;
}

.campScore {
	font-size: calc(30px + 0.5vw);
	font-family: Montserrat, Roboto, Tahoma;
	font-weight: 900;
}

.statsDivider {
	 height:5px;
}

namecontainer {
	height: 2.7vw;
	display: table;
	width: 100%;
}

middle {
	display: table-cell;
  	vertical-align: middle;
	max-width: 100px;
}

.playerName {
	line-height: 0.8;
	font-size: 1.923vw;
	text-align: center;
	font-weight: 900;
	font-family: Nunito, Roboto, Tahoma;
	margin-left: auto;
 	margin-right: auto;
 	width: 100%;
	word-wrap: break-word;
	text-shadow: 0px 0px 5px #575757;
}

@media screen and (min-width: 1300px) {
  div.playerName {
    font-size: 25px;
  }
}


.submit-button {
	border-radius: 10px;
	width: 190px;
	height: 35px;
	font-size: 18px;
	font-weight: 400;
	font-family: Roboto, Tahoma;
	background: #D7D7D7;
    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
	border: 4px solid #F3F3F3;
}

.submit-button:hover {
	background: rgb(180,180,180);
	border: 4px solid rgba(200,200,200,1.00);
	transform: scale(1.05);
	box-shadow: 0 0px 5px 2px rgba(100,100,100,1);
}

.submit-button:focus {
	background: rgb(150,150,150);
	border: 4px solid rgba(170,170,170,1.00);
	transform: scale(1.05);
	box-shadow: 0 0px 20px 6px rgba(100,100,100,1);
}

.region {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: sticky;
	position: -webkit-sticky; /* Safari */
	top: 0;
	font-family: Roboto, Tahoma;
	border-radius: 5px;
	
}

.region li a{
	font-size: 20px;
	display: block;
	color: #F3F3F3;
	padding: 12px 16px;
	text-align: center;
	text-decoration: none;
	float:left;
	cursor: pointer;
}

.region li a:hover{
	background-color: #111;
	
}

.textInput {
	font-size: 26px;
	text-align: center;
	background: #585858;
	font-family: Tahoma;
	border-radius: 5px;
}


.preloader-1 {
  margin: 100px auto 0;
  width: 285px;
  height: 12px;
}

.loading {
  color: #D7D7D7;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  letter-spacing: 2px;
}

.preloader-1 .line {
  width: 1px;
  height: 50px;
  background: #fff;
  margin: 0 6px;
  display: inline-block;
  animation: opacity-1 1000ms infinite ease-in-out;
}

.preloader-1 .line-1, .preloader-2 .line-1 { animation-delay: 800ms; }
.preloader-1 .line-2, .preloader-2 .line-2 { animation-delay: 700ms; }
.preloader-1 .line-3, .preloader-2 .line-3 { animation-delay: 600ms; }
.preloader-1 .line-4, .preloader-2 .line-4 { animation-delay: 500ms; }
.preloader-1 .line-5, .preloader-2 .line-6 { animation-delay: 400ms; }
.preloader-1 .line-6, .preloader-2 .line-7 { animation-delay: 300ms; }
.preloader-1 .line-7, .preloader-2 .line-8 { animation-delay: 200ms; }
.preloader-1 .line-8, .preloader-2 .line-9 { animation-delay: 100ms; }

.preloader-1 .line-10, .preloader-2 .line-9 { animation-delay: 100ms; }
.preloader-1 .line-11, .preloader-2 .line-9 { animation-delay: 200ms; }
.preloader-1 .line-12, .preloader-2 .line-9 { animation-delay: 300ms; }
.preloader-1 .line-13, .preloader-2 .line-9 { animation-delay: 400ms; }
.preloader-1 .line-14, .preloader-2 .line-9 { animation-delay: 500ms; }
.preloader-1 .line-15, .preloader-2 .line-9 { animation-delay: 600ms; }
.preloader-1 .line-16, .preloader-2 .line-9 { animation-delay: 700ms; }
.preloader-1 .line-17, .preloader-2 .line-9 { animation-delay: 800ms; }

@keyframes opacity-1 { 
  0% { 
    opacity: 1;
  }
  50% { 
    opacity: 0;
  }
  100% { 
    opacity: 1;
  }  
}

@keyframes opacity-2 { 
  0% { 
    opacity: 1;
    height: 15px;
  }
  50% { 
    opacity: 0;
    height: 12px;
  }
  100% { 
    opacity: 1;
    height: 15px;
  }  
}